body {
    background-color: lightgray;
    font-family: Arial;
}

header {
    background-color: red;
    text-align: center;
}

h1 {
    color: white;
}

nav a {
    color: yellow;
    font-size: 20px;
}

main {
    background-color: white;
}

h2 {
    color: blue;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}